.container{
  height: 350px;
  width: 300px;
  padding: 10px;
  margin: 5vh;
  background-color: rgb(52, 51, 51);
  border-radius: 2vh;
}
.container-header{
font-family: cursive;
text-align: center;
}
.container-list{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.container-btn{
  width: 100%;
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
}
.bigcontainer{
  display: flex;
}