/* Ensure Tailwind CSS is processed by PostCSS or your build tool */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
display: flex;
justify-content: center;
align-items: center;
margin-top: 5vh;
background-image: linear-gradient(to right, #74ebd5, #ACB6E5);
}